
:root {

  --container-width: 1450px;
	--container-padding: 15px;

  --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

  --accent-light: #FF6A00;
  --accent-dark: #000000cd;
  --accent-drey: rgba(0, 0, 0, 0.46);
  --default-light: #fff;
  --default-dark: #000;
  --title: #436372;
  --bg-orange: #FF6A00;
  --bg-grey: #F0F0F0;
  --bg-dark: #191919;
}



